html,
body {
    height: 90vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ef8bb0;
}

h1 {
    text-align: center;
    font-size: 5vh;
    color: #ffffff;
    transition: font-size 0.2s cubic-bezier(1, 0, 0, 1);
}

.wrapper {
    position: relative;
    overflow-x: scroll;
    height: 105vh;
}

.rubyimageContainer {
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.rubyimageContainer .wrapper::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.rubyimageContainer .wrapper {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.imageContainer {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 200%;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.image_wrapper {
    display: flex;
    position: relative;
}

.image_wrapper .image {
    flex-shrink: 0;
    width: auto;
    height: 100%;
    margin-right: 0px;
    text-align: center;
    object-fit: cover;
}

.image {
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 241, 241, 0.5);
    z-index: 2;
    pointer-events: none;
    transition: height 0.5s ease;
}

.made-by,
.touch-to-unlock {
    position: absolute;
    bottom: 27vh;
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Adjust to center the text */
    font-size: 22px;
    font-weight: bold;
    font-family: "Harrington", "French Script MT", cursive;
    color: #E0115F;
    transition: font-size 0.2s cubic-bezier(1, 0, 0, 1);
}

.touch-to-unlock {
    bottom: 57vh;
    font-size: 48px;
}

.vertical-bar {
    position: absolute;
    top: 0;
    left: 5vh;
    width: 20vh;
    /* Adjust the width as desired */
    height: 100%;
    background-color: white;
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: width 0.3s cubic-bezier(1, 0, 0, 1), left 0.3s cubic-bezier(1, 0, 0, 1);
    box-sizing: border-box;
}

.vertical-bar-behind {
    position: absolute;
    top: 0;
    left: 5vh;
    width: 20vh;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 0.5s ease, width 0.3s cubic-bezier(1, 0, 0, 1), left 0.3s cubic-bezier(1, 0, 0, 1);
}

.vertical-bar-behind.hidden {
    position: absolute;
    top: 0;
    left: 5vh;
    width: 20vh;
    background-color: white;
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
    height: 15vh;
    transition: height 0.5s ease, width 0.3s cubic-bezier(1, 0, 0, 1), left 0.3s cubic-bezier(1, 0, 0, 1);
    ;
}

.open_button {
    position: relative;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.open_button:before {
    content: ">";
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #000;
}

.open_button:hover {
    background-color: #dd9696;
}

.social-buttons-container {
    position: fixed;
    top: 20px;
    left: 9.5vh;
    display: flex;
    flex-direction: column;
    z-index: 3;
    transition: left 0.9s cubic-bezier(1, 0, 0, 1);
}

.social-button {
    /* margin-bottom: 10px; */
    width: 100%;
    padding: 10px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 215%;
    /* Adjust the font size as desired */
    text-align: center;
    transition: all 0.3s ease;
}

.social-button.discord {
    background-color: #5865F2;
}

.social-button.reddit {
    background-color: orangered;
}


/* don't display text when screen is small */

.social-button.reddit.small-screen .button-text {
    display: none;
}

.social-button.reddit.small-screen {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../img/reddit-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social-button.reddit:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}


/* Adjust the font size for smaller screens */

@media (max-width: 1368px) {
    .vertical-bar {
        width: 10vh;
        left: 3vh;
        transition: width 0.3s cubic-bezier(1, 0, 0, 1), left 0.3s cubic-bezier(1, 0, 0, 1);
    }
    .vertical-bar-behind.hidden,
    .vertical-bar-behind {
        width: 10vh;
        left: 3vh;
        transition: height 0.5s ease, width 0.3s cubic-bezier(1, 0, 0, 1), left 0.3s cubic-bezier(1, 0, 0, 1);
    }
    .touch-to-unlock {
        font-size: 24px;
        transition: font-size 0.2s cubic-bezier(1, 0, 0, 1);
    }
    .social-buttons-container {
        left: 5.5vh;
        transition: left 0.8s cubic-bezier(1, 0, 0, 1);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5vh;
        transition: font-size 0.2s cubic-bezier(1, 0, 0, 1);
    }
}