html, body {
    height: 90vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
}

.wrapper {
    position: relative;
    overflow: hidden;
    height: 100vh;
}
#rubyimageContainer {

    width: 100%;
    overflow-x: scroll;
}
.rubyimageContainer {
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
}

.rubyimageContainer::-webkit-scrollbar {
    display: none;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 200%;
    overflow-x: scroll;
}

.image_wrapper {
    display: flex;
  }
.image_wrapper .image {
    flex-shrink: 0;
    width: auto;
    height: 100%;
    margin-right: 0px;
}
.image {
    max-width: 100%;
    object-fit: contain;
    display: block;
}
.wrapper{
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(255, 241, 241, 0.5);
    z-index: 2;
    pointer-events: none;
    transition: height 0.5s ease;
  }
  .overlay.hidden {
    opacity: 0;
}
  