html,
body {
    height: 90vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Hide scrollbars on body */
}

h1 {
    text-align: center;
}

.wrapper {
    position: relative;
    overflow-x: scroll;
    height: 100vh;
}

#rubyimageContainer {
    width: 100%;
    overflow-x: scroll;
}

.rubyimageContainer {
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
}

.rubyimageContainer .wrapper::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.rubyimageContainer .wrapper {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.imageContainer {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 200%;
    overflow-x: scroll;
    justify-content: center;
    align-items: center;
}

.image_wrapper {
    display: flex;
}

.image_wrapper .image {
    flex-shrink: 0;
    width: auto;
    height: 100%;
    margin-right: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 100%;
    object-fit: contain;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 241, 241, 0.5);
    z-index: 2;
    pointer-events: none;
    transition: height 0.5s ease;
}

.overlay.hidden {
    height: 0;
    transition: height 0.5s ease;
    pointer-events: none;
}